{% if nav_item.children %}
  <li class="md-nav__item">
    {% if nav_item.active %}
      <input class="md-toggle md-nav__toggle" type="checkbox" id="{{ path }}" checked>
    {% else %}
      <input class="md-toggle md-nav__toggle" type="checkbox" id="{{ path }}">
    {% endif %}
    <label class="md-nav__link" for="{{ path }}">
      {{ nav_item.title }}
    </label>
    <ul class="md-nav__list">
      {% for nav_item in nav_item.children %}
        {% set temp = path %}
        {% set path = path + "-" + loop.index | string %}
        {% include "nav-item.html" %}
        {% set path = temp %}
      {% endfor %}
    </ul>
  </li>
{% else %}
  <li class="md-nav__item">
    {% if nav_item.active %}
      <a href="{{ nav_item.url }}" title="{{ nav_item.title }}" class="md-nav__link md-nav__link--active">
        {{ nav_item.title }}
      </a>
    {% else %}
      <a href="{{ nav_item.url }}" title="{{ nav_item.title }}" class="md-nav__link">
        {{ nav_item.title }}
      </a>
    {% endif %}
  </li>
{% endif %}