{% if nav_item.children %}
  <li>
    <div class="section">
    <a href="#hide1" class="hide" id="hide1">+</a>
    <a href="#show1" class="show" id="show1">-</a>
    {{ nav_item.title }}
    </div>
    <div class="list">
    <ul>
      {% for nav_item in nav_item.children %}

        {% include "nav.html" %}

      {% endfor %}
    </ul>
    </div>
  </li>
{% else %}
  <li>
    <a class="{% if nav_item.active %}current{% endif %} section" title="{{ nav_item.title }}" href="{{ nav_item.url }}">
      {{ nav_item.title }}
    </a>
    {% if nav_item == current_page %}
      {% if h1 %}
        {% set toc = (toc | first).children %}
      {% endif %}
      {% if toc and (toc | first) %}
        <ul>
          {% for toc_item in toc %}
            <li class="anchor">
              <a title="{{ toc_item.title }}" href="{{ toc_item.url }}">
                {{ toc_item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </li>
{% endif %}