<div class="md-sidebar md-sidebar--secondary md-js__sidebar">
  <div class="md-sidebar__scrollwrap">
    <nav class="md-sidebar__inner md-nav md-nav--toc">
      {% if h1 %}
        {% set toc = (toc | first).children %}
      {% endif %}
      {% if toc and (toc | first) %}
        <h3 class="md-nav__title">Table of contents</h3>
        <ul class="md-nav__list">
          {% for toc_item in toc %}
            {% include "toc-item.html" %}
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
</div>