@charset "UTF-8";
/* stylelint-disable */
@keyframes ᴴₒᴴₒᴴₒ {
  0% {
    transform: translate3d(var(--left-start), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
.ᴴₒᴴₒᴴₒ {
  --size: 1vw;
  position: fixed;
  top: -5vh;
  z-index: 10;
  width: var(--size);
  height: var(--size);
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 1s;
  opacity: 1;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(1) {
  --size: 0.3vw;
  --left-start: -4vw;
  --left-end: -1vw;
  left: 47vw;
  animation: ᴴₒᴴₒᴴₒ 14s linear infinite both;
  animation-delay: -5s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(2) {
  --size: 0.1vw;
  --left-start: 8vw;
  --left-end: -6vw;
  left: 85vw;
  animation: ᴴₒᴴₒᴴₒ 11s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(3) {
  --size: 0.5vw;
  --left-start: -2vw;
  --left-end: -3vw;
  left: 99vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -1s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(4) {
  --size: 0.1vw;
  --left-start: 10vw;
  --left-end: -6vw;
  left: 85vw;
  animation: ᴴₒᴴₒᴴₒ 19s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(5) {
  --size: 0.5vw;
  --left-start: -8vw;
  --left-end: 9vw;
  left: 62vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(6) {
  --size: 0.4vw;
  --left-start: -7vw;
  --left-end: -3vw;
  left: 99vw;
  animation: ᴴₒᴴₒᴴₒ 15s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(7) {
  --size: 0.2vw;
  --left-start: -4vw;
  --left-end: -6vw;
  left: 80vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(8) {
  --size: 0.4vw;
  --left-start: -3vw;
  --left-end: 0vw;
  left: 93vw;
  animation: ᴴₒᴴₒᴴₒ 20s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(9) {
  --size: 0.5vw;
  --left-start: 5vw;
  --left-end: -5vw;
  left: 70vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -3s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(10) {
  --size: 0.3vw;
  --left-start: 9vw;
  --left-end: 9vw;
  left: 2vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(11) {
  --size: 0.3vw;
  --left-start: -2vw;
  --left-end: -6vw;
  left: 48vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -2s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(12) {
  --size: 0.5vw;
  --left-start: 6vw;
  --left-end: 8vw;
  left: 27vw;
  animation: ᴴₒᴴₒᴴₒ 18s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(13) {
  --size: 0.5vw;
  --left-start: 9vw;
  --left-end: -2vw;
  left: 30vw;
  animation: ᴴₒᴴₒᴴₒ 17s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(14) {
  --size: 0.5vw;
  --left-start: -6vw;
  --left-end: -6vw;
  left: 60vw;
  animation: ᴴₒᴴₒᴴₒ 20s linear infinite both;
  animation-delay: -3s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(15) {
  --size: 0.3vw;
  --left-start: 8vw;
  --left-end: 5vw;
  left: 77vw;
  animation: ᴴₒᴴₒᴴₒ 20s linear infinite both;
  animation-delay: -8s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(16) {
  --size: 0.1vw;
  --left-start: 0vw;
  --left-end: -5vw;
  left: 19vw;
  animation: ᴴₒᴴₒᴴₒ 17s linear infinite both;
  animation-delay: -5s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(17) {
  --size: 0.4vw;
  --left-start: 1vw;
  --left-end: -4vw;
  left: 85vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -2s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(18) {
  --size: 0.4vw;
  --left-start: 4vw;
  --left-end: 0vw;
  left: 85vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(19) {
  --size: 0.4vw;
  --left-start: -3vw;
  --left-end: 0vw;
  left: 14vw;
  animation: ᴴₒᴴₒᴴₒ 17s linear infinite both;
  animation-delay: -2s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(20) {
  --size: 0.4vw;
  --left-start: -9vw;
  --left-end: 2vw;
  left: 56vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(21) {
  --size: 0.3vw;
  --left-start: 8vw;
  --left-end: 0vw;
  left: 38vw;
  animation: ᴴₒᴴₒᴴₒ 18s linear infinite both;
  animation-delay: -8s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(22) {
  --size: 0.4vw;
  --left-start: 2vw;
  --left-end: -2vw;
  left: 70vw;
  animation: ᴴₒᴴₒᴴₒ 14s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(23) {
  --size: 0.3vw;
  --left-start: -9vw;
  --left-end: 7vw;
  left: 80vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -3s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(24) {
  --size: 0.4vw;
  --left-start: 0vw;
  --left-end: 6vw;
  left: 52vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -8s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(25) {
  --size: 0.1vw;
  --left-start: 3vw;
  --left-end: -6vw;
  left: 89vw;
  animation: ᴴₒᴴₒᴴₒ 14s linear infinite both;
  animation-delay: -2s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(26) {
  --size: 0.2vw;
  --left-start: 5vw;
  --left-end: -4vw;
  left: 23vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -3s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(27) {
  --size: 0.3vw;
  --left-start: 7vw;
  --left-end: 0vw;
  left: 93vw;
  animation: ᴴₒᴴₒᴴₒ 15s linear infinite both;
  animation-delay: -5s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(28) {
  --size: 0.5vw;
  --left-start: -7vw;
  --left-end: 1vw;
  left: 45vw;
  animation: ᴴₒᴴₒᴴₒ 11s linear infinite both;
  animation-delay: -3s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(29) {
  --size: 0.5vw;
  --left-start: -2vw;
  --left-end: 3vw;
  left: 15vw;
  animation: ᴴₒᴴₒᴴₒ 15s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(30) {
  --size: 0.1vw;
  --left-start: 7vw;
  --left-end: -1vw;
  left: 37vw;
  animation: ᴴₒᴴₒᴴₒ 19s linear infinite both;
  animation-delay: -8s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(31) {
  --size: 0.3vw;
  --left-start: -5vw;
  --left-end: 10vw;
  left: 14vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -5s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(32) {
  --size: 0.3vw;
  --left-start: -1vw;
  --left-end: 4vw;
  left: 53vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(33) {
  --size: 0.5vw;
  --left-start: 8vw;
  --left-end: -5vw;
  left: 81vw;
  animation: ᴴₒᴴₒᴴₒ 17s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(34) {
  --size: 0.3vw;
  --left-start: -2vw;
  --left-end: 3vw;
  left: 81vw;
  animation: ᴴₒᴴₒᴴₒ 17s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(35) {
  --size: 0.5vw;
  --left-start: 3vw;
  --left-end: -3vw;
  left: 87vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(36) {
  --size: 0.5vw;
  --left-start: 4vw;
  --left-end: -7vw;
  left: 42vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(37) {
  --size: 0.4vw;
  --left-start: -8vw;
  --left-end: -6vw;
  left: 8vw;
  animation: ᴴₒᴴₒᴴₒ 11s linear infinite both;
  animation-delay: -2s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(38) {
  --size: 0.3vw;
  --left-start: -3vw;
  --left-end: 1vw;
  left: 28vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(39) {
  --size: 0.3vw;
  --left-start: -8vw;
  --left-end: 2vw;
  left: 45vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(40) {
  --size: 0.1vw;
  --left-start: -3vw;
  --left-end: -7vw;
  left: 49vw;
  animation: ᴴₒᴴₒᴴₒ 17s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(41) {
  --size: 0.2vw;
  --left-start: 4vw;
  --left-end: 2vw;
  left: 35vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(42) {
  --size: 0.1vw;
  --left-start: -4vw;
  --left-end: 5vw;
  left: 76vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -5s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(43) {
  --size: 0.1vw;
  --left-start: -3vw;
  --left-end: -5vw;
  left: 67vw;
  animation: ᴴₒᴴₒᴴₒ 19s linear infinite both;
  animation-delay: -2s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(44) {
  --size: 0.1vw;
  --left-start: 7vw;
  --left-end: 6vw;
  left: 83vw;
  animation: ᴴₒᴴₒᴴₒ 15s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(45) {
  --size: 0.5vw;
  --left-start: 8vw;
  --left-end: 2vw;
  left: 81vw;
  animation: ᴴₒᴴₒᴴₒ 17s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(46) {
  --size: 0.2vw;
  --left-start: -9vw;
  --left-end: 3vw;
  left: 80vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -2s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(47) {
  --size: 0.1vw;
  --left-start: -8vw;
  --left-end: 1vw;
  left: 27vw;
  animation: ᴴₒᴴₒᴴₒ 20s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(48) {
  --size: 0.4vw;
  --left-start: -4vw;
  --left-end: -3vw;
  left: 54vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(49) {
  --size: 0.4vw;
  --left-start: -6vw;
  --left-end: -3vw;
  left: 99vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -3s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(50) {
  --size: 0.2vw;
  --left-start: -6vw;
  --left-end: -4vw;
  left: 4vw;
  animation: ᴴₒᴴₒᴴₒ 15s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(51) {
  --size: 0.2vw;
  --left-start: -8vw;
  --left-end: -4vw;
  left: 18vw;
  animation: ᴴₒᴴₒᴴₒ 19s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(52) {
  --size: 0.2vw;
  --left-start: 8vw;
  --left-end: 9vw;
  left: 18vw;
  animation: ᴴₒᴴₒᴴₒ 11s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(53) {
  --size: 0.2vw;
  --left-start: 2vw;
  --left-end: -6vw;
  left: 75vw;
  animation: ᴴₒᴴₒᴴₒ 18s linear infinite both;
  animation-delay: -8s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(54) {
  --size: 0.2vw;
  --left-start: 3vw;
  --left-end: 7vw;
  left: 71vw;
  animation: ᴴₒᴴₒᴴₒ 16s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(55) {
  --size: 0.4vw;
  --left-start: -2vw;
  --left-end: 5vw;
  left: 47vw;
  animation: ᴴₒᴴₒᴴₒ 15s linear infinite both;
  animation-delay: -8s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(56) {
  --size: 0.1vw;
  --left-start: 0vw;
  --left-end: -6vw;
  left: 67vw;
  animation: ᴴₒᴴₒᴴₒ 18s linear infinite both;
  animation-delay: -1s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(57) {
  --size: 0.3vw;
  --left-start: -7vw;
  --left-end: -2vw;
  left: 9vw;
  animation: ᴴₒᴴₒᴴₒ 17s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(58) {
  --size: 0.4vw;
  --left-start: -5vw;
  --left-end: 4vw;
  left: 15vw;
  animation: ᴴₒᴴₒᴴₒ 19s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(59) {
  --size: 0.4vw;
  --left-start: -6vw;
  --left-end: -7vw;
  left: 13vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(60) {
  --size: 0.2vw;
  --left-start: -3vw;
  --left-end: 2vw;
  left: 15vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -3s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(61) {
  --size: 0.2vw;
  --left-start: 3vw;
  --left-end: 5vw;
  left: 90vw;
  animation: ᴴₒᴴₒᴴₒ 14s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(62) {
  --size: 0.2vw;
  --left-start: -4vw;
  --left-end: -1vw;
  left: 38vw;
  animation: ᴴₒᴴₒᴴₒ 18s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(63) {
  --size: 0.3vw;
  --left-start: 6vw;
  --left-end: 8vw;
  left: 94vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(64) {
  --size: 0.1vw;
  --left-start: 1vw;
  --left-end: 5vw;
  left: 68vw;
  animation: ᴴₒᴴₒᴴₒ 20s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(65) {
  --size: 0.5vw;
  --left-start: 7vw;
  --left-end: -2vw;
  left: 80vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -4s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(66) {
  --size: 0.5vw;
  --left-start: 0vw;
  --left-end: -8vw;
  left: 79vw;
  animation: ᴴₒᴴₒᴴₒ 18s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(67) {
  --size: 0.5vw;
  --left-start: -2vw;
  --left-end: 10vw;
  left: 84vw;
  animation: ᴴₒᴴₒᴴₒ 11s linear infinite both;
  animation-delay: -8s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(68) {
  --size: 0.2vw;
  --left-start: 10vw;
  --left-end: -1vw;
  left: 24vw;
  animation: ᴴₒᴴₒᴴₒ 14s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(69) {
  --size: 0.3vw;
  --left-start: -1vw;
  --left-end: -2vw;
  left: 2vw;
  animation: ᴴₒᴴₒᴴₒ 14s linear infinite both;
  animation-delay: -9s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(70) {
  --size: 0.5vw;
  --left-start: 6vw;
  --left-end: 3vw;
  left: 14vw;
  animation: ᴴₒᴴₒᴴₒ 12s linear infinite both;
  animation-delay: -7s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(71) {
  --size: 0.3vw;
  --left-start: 1vw;
  --left-end: 0vw;
  left: 1vw;
  animation: ᴴₒᴴₒᴴₒ 18s linear infinite both;
  animation-delay: -5s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(72) {
  --size: 0.3vw;
  --left-start: -8vw;
  --left-end: -4vw;
  left: 84vw;
  animation: ᴴₒᴴₒᴴₒ 18s linear infinite both;
  animation-delay: -10s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(73) {
  --size: 0.2vw;
  --left-start: -3vw;
  --left-end: 7vw;
  left: 95vw;
  animation: ᴴₒᴴₒᴴₒ 20s linear infinite both;
  animation-delay: -1s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(74) {
  --size: 0.4vw;
  --left-start: -2vw;
  --left-end: -9vw;
  left: 90vw;
  animation: ᴴₒᴴₒᴴₒ 14s linear infinite both;
  animation-delay: -8s;
}
.ᴴₒᴴₒᴴₒ:not(.ᴴₒᴴₒᴴₒ--gotcha):nth-child(75) {
  --size: 0.4vw;
  --left-start: 4vw;
  --left-end: 1vw;
  left: 1vw;
  animation: ᴴₒᴴₒᴴₒ 13s linear infinite both;
  animation-delay: -6s;
}
.ᴴₒᴴₒᴴₒ:nth-child(5n) {
  filter: blur(2px);
}
.ᴴₒᴴₒᴴₒ--ᵍₒᵗ꜀ᴴₐ {
  opacity: 0;
}
.ᴴₒᴴₒᴴₒ__button {
  display: block;
}
.ᴴₒᴴₒᴴₒ__button::after {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: currentcolor;
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m20.79 13.95-2.33.62-2-1.13v-2.88l2-1.13 2.33.62.52-1.93-1.77-.47.46-1.77-1.93-.52-.62 2.33-2 1.13L13 7.38V5.12l1.71-1.71L13.29 2 12 3.29 10.71 2 9.29 3.41 11 5.12v2.26L8.5 8.82l-2-1.13-.58-2.33L4 5.88l.47 1.77-1.77.47.52 1.93 2.33-.62 2 1.13v2.89l-2 1.13-2.33-.62-.52 1.93 1.77.47L4 18.12l1.93.52.62-2.33 2-1.13L11 16.62v2.26l-1.71 1.71L10.71 22 12 20.71 13.29 22l1.41-1.41-1.7-1.71v-2.26l2.5-1.45 2 1.13.62 2.33 1.88-.51-.47-1.77 1.77-.47-.51-1.93M9.5 10.56 12 9.11l2.5 1.45v2.88L12 14.89l-2.5-1.45v-2.88Z"/></svg>');
          mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m20.79 13.95-2.33.62-2-1.13v-2.88l2-1.13 2.33.62.52-1.93-1.77-.47.46-1.77-1.93-.52-.62 2.33-2 1.13L13 7.38V5.12l1.71-1.71L13.29 2 12 3.29 10.71 2 9.29 3.41 11 5.12v2.26L8.5 8.82l-2-1.13-.58-2.33L4 5.88l.47 1.77-1.77.47.52 1.93 2.33-.62 2 1.13v2.89l-2 1.13-2.33-.62-.52 1.93 1.77.47L4 18.12l1.93.52.62-2.33 2-1.13L11 16.62v2.26l-1.71 1.71L10.71 22 12 20.71 13.29 22l1.41-1.41-1.7-1.71v-2.26l2.5-1.45 2 1.13.62 2.33 1.88-.51-.47-1.77 1.77-.47-.51-1.93M9.5 10.56 12 9.11l2.5 1.45v2.88L12 14.89l-2.5-1.45v-2.88Z"/></svg>');
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  content: "";
}
.ᴴₒᴴₒᴴₒ__button[hidden]::after {
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 5.12 9.29 3.41 10.71 2 12 3.29 13.29 2l1.42 1.41L13 5.12v2.26l2.45 1.44 2-1.13.62-2.33 1.93.52-.46 1.77 1.77.47-.52 1.93-2.33-.62-2 1.13v2.7L14.5 11.3v-.74l-1.76-1.02-2.01-2.01.27-.15V5.12m7.46 9.45-1.59-.9 2.68 2.68 1.75-.47-.51-1.93-2.33.62M13 16.62v2.26l1.7 1.71L13.29 22 12 20.71 10.71 22l-1.42-1.41L11 18.88v-2.26l-2.45-1.44-2 1.13-.62 2.33L4 18.12l.47-1.76-1.77-.47.52-1.93 2.33.62 2-1.13v-2.89l-2-1.13-2.33.62-.52-1.93 1.77-.47L4 5.89 1.11 3l1.28-1.27 19.72 19.73-1.27 1.27L14.1 16l-1.1.62m-1-1.73.63-.39-3.13-3.11v2.05l2.5 1.45Z"/></svg>');
          mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 5.12 9.29 3.41 10.71 2 12 3.29 13.29 2l1.42 1.41L13 5.12v2.26l2.45 1.44 2-1.13.62-2.33 1.93.52-.46 1.77 1.77.47-.52 1.93-2.33-.62-2 1.13v2.7L14.5 11.3v-.74l-1.76-1.02-2.01-2.01.27-.15V5.12m7.46 9.45-1.59-.9 2.68 2.68 1.75-.47-.51-1.93-2.33.62M13 16.62v2.26l1.7 1.71L13.29 22 12 20.71 10.71 22l-1.42-1.41L11 18.88v-2.26l-2.45-1.44-2 1.13-.62 2.33L4 18.12l.47-1.76-1.77-.47.52-1.93 2.33.62 2-1.13v-2.89l-2-1.13-2.33.62-.52-1.93 1.77-.47L4 5.89 1.11 3l1.28-1.27 19.72 19.73-1.27 1.27L14.1 16l-1.1.62m-1-1.73.63-.39-3.13-3.11v2.05l2.5 1.45Z"/></svg>');
}