{
  "extends": [
    "stylelint-config-recess-order",
    "stylelint-config-recommended",
    "stylelint-config-standard-scss",
    "stylelint-stylistic/config"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "alpha-value-notation": "number",
    "annotation-no-unknown": null,
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "blockless-after-same-name-blockless",
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ],
        "ignoreAtRules": [
          "if",
          "each",
          "else",
          "elseif",
          "for",
          "import",
          "return"
        ]
      }
    ],
    "at-rule-no-unknown": null,
    "color-function-notation": null,
    "color-hex-length": "long",
    "color-named": "never",
    "comment-empty-line-before": [
      "always",
      {
        "ignore": [
          "stylelint-commands"
        ]
      }
    ],
    "custom-property-empty-line-before": null,
    "custom-property-pattern": null,
    "declaration-colon-space-after": null,
    "declaration-no-important": true,
    "declaration-block-single-line-max-declarations": 0,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-calc-no-unspaced-operator": null,
    "function-no-unknown": null,
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "hue-degree-notation": "number",
    "length-zero-no-unit": [
      true,
      {
        "ignore": ["custom-properties"]
      }
    ],
    "media-feature-name-no-unknown": null,
    "media-feature-range-notation": null,
    "media-query-no-invalid": null,
    "no-descending-specificity": null,
    "no-unknown-animations": true,
    "property-no-unknown": null,
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": [
          "line-clamp",
          "box-orient"
        ]
      }
    ],
    "selector-class-pattern": null,
    "selector-combinator-space-before": null,
    "selector-descendant-combinator-no-non-space": null,
    "selector-id-pattern": null,
    "selector-max-id": 0,
    "selector-no-qualifying-type": null,
    "selector-pseudo-class-no-unknown": null,
    "selector-pseudo-element-no-unknown": null,
    "unit-allowed-list": [
      "%",
      "ch",
      "dppx",
      "deg",
      "em",
      "fr",
      "mm",
      "ms",
      "px",
      "vh",
      "vw"
    ],
    "value-keyword-case": [
      "lower",
      {
        "ignoreProperties": [
          "/^--/"
        ]
      }
    ],
    "value-list-comma-newline-after": null,
    "value-no-vendor-prefix": [
      true,
      {
        "ignoreValues": [
          "box"
        ]
      }
    ],
    "scss/at-each-key-value-single-line": true,
    "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-function-parentheses-space-before": "never",
    "scss/at-function-pattern": "^[a-z][a-z0-9]*(-[a-z0-9]+)*$",
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-if-no-null": true,
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension": "never",
    "scss/at-mixin-argumentless-call-parentheses": "always",
    "scss/at-mixin-parentheses-space-before": "never",
    "scss/at-mixin-pattern": "^[a-z][a-z0-9]*(-[a-z0-9]+)*$",
    "scss/at-rule-conditional-no-parentheses": true,
    "scss/comment-no-empty": null,
    "scss/comment-no-loud": true,
    "scss/declaration-nested-properties": "never",
    "scss/dimension-no-non-numeric-values": true,
    "scss/dollar-variable-colon-newline-after": "always-multi-line",
    "scss/dollar-variable-colon-space-after": "always-single-line",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-first-in-block": null,
    "scss/dollar-variable-no-missing-interpolation": true,
    "scss/dollar-variable-pattern": "^[a-z][a-z0-9]*(-[a-z0-9]+)*$",
    "scss/double-slash-comment-empty-line-before": null,
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/at-extend-no-missing-placeholder": null,
    "scss/no-duplicate-mixins": true,
    "scss/no-global-function-names": null,
    "scss/operator-no-newline-after": null,
    "scss/operator-no-unspaced": true,
    "scss/partial-no-import": true,
    "scss/percent-placeholder-pattern": "^[a-z][a-z0-9]*(-[a-z0-9]+)*$",
    "scss/selector-no-redundant-nesting-selector": true,
    "stylistic/block-closing-brace-newline-after": [
      "always",
      {
        "ignoreAtRules": [
          "if",
          "else",
          "elseif"
        ]
      }
    ],
    "stylistic/declaration-colon-space-after": null,
    "stylistic/no-empty-first-line": true,
    "stylistic/linebreaks": "unix",
    "stylistic/selector-max-empty-lines": 0,
    "stylistic/string-quotes": "double",
    "stylistic/unicode-bom": "never",
    "stylistic/value-list-comma-newline-after": null
  }
}
