recursive-include material *.js *.css *.html *.svg *.png *.yml
recursive-exclude site *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include LICENSE
include package.json
include requirements.txt
