<footer class="md-footer">
  <div class="md-footer__inner">
    {% if previous_page or next_page %}
      <nav class="md-footer-nav md-grid">
        {% if previous_page %}
          <a href="{{ previous_page.url }}" title="{{ previous_page.title }}" class="md-flex md-footer-nav__link md-footer-nav__link--prev" rel="prev">
            <div class="md-flex__cell md-flex__cell--shrink">
              <i class="md-icon md-icon--back md-footer-nav__icon"></i>
            </div>
            <div class="md-flex__cell md-flex__cell--stretch md-footer-nav__title">
              <span class="md-flex__ellipsis">
                <span class="md-footer-nav__direction">
                  Previous
                </span>
                {{ previous_page.title }}
              </span>
            </div>
          </a>
        {% endif %}
        {% if next_page %}
          <a href="{{ next_page.url }}" title="{{ next_page.title }}" class="md-flex md-footer-nav__link md-footer-nav__link--next" rel="next">
            <div class="md-flex__cell md-flex__cell--stretch md-footer-nav__title">
              <span class="md-flex__ellipsis">
                <span class="md-footer-nav__direction">
                  Next
                </span>
                {{ next_page.title }}
              </span>
            </div>
            <div class="md-flex__cell md-flex__cell--shrink">
              <i class="md-icon md-icon--forward md-footer-nav__icon"></i>
            </div>
          </a>
        {% endif %}
      </nav>
    {% endif %}
  </div>
</footer>
