{% macro t(key) %}{{ {
  "edit.link.title": "Edit this page",
  "footer.previous": "Previous",
  "footer.next": "Next",
  "meta.comments": "Comments",
  "meta.source": "Source",
  "search.placeholder": "Search",
  "search.message.placeholder": "Type to start searching",
  "search.message.none": "No matching documents",
  "search.message.one": "1 matching document",
  "search.message.other": "# matching documents",
  "source.link.title": "Go to repository",
  "toc.title": "Table of contents"
}[key] }}{% endmacro %}
