<nav class="md-nav md-nav--primary" data-md-level="0">
  <label class="md-nav__title md-nav__title--site" for="drawer">
    {% if config.extra.logo %}
      <i class="md-logo md-nav__button">
        <img src="{{ base_url }}/{{ config.extra.logo }}">
      </i>
    {% else %}
      <i class="md-icon md-icon--home md-nav__button"></i>
    {% endif %}
    {{ config.site_name }}
  </label>
  {% if config.repo_url %}
    <div class="md-nav__source">
      {% include "partials/source.html" %}
    </div>
  {% endif %}
  <ul class="md-nav__list" data-md-scrollfix>
    {% for nav_item in nav %}
      {% set path = "nav-" + loop.index | string %}
      {% set level = 1 %}
      {% include "partials/nav-item.html" %}
    {% endfor %}
  </ul>
</nav>
