<div id="protect-overlay" class="overlay" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:9999;background-color:#000;color:#fff;padding:10% 0;text-align:center;display:none">
    <form action="#" onsubmit="handleProtection(event)" class="mdc-theme--dark">
        <div class="mdc-textfield mdc-textfield--box" data-demo-no-auto-js="">
          <input type="password" class="mdc-textfield__input" id="password-protection-textfield-box" placeholder="Enter Password">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<script>function handleProtection(e){e.preventDefault();var t=document.getElementById("password-protection-textfield-box"),o="{{ config.extra.password }}";return t.value===atob(o)?(localStorage.setItem("pwd_atob",o),document.getElementById("protect-overlay").style.display="none"):alert("Wrong password!"),!1}!function(){var e=localStorage.getItem("pwd_atob"),t="{{ config.extra.password }}";e===t?document.getElementById("protect-overlay").style.display="none":document.getElementById("protect-overlay").style.display=""}()</script>
