<div class="md-search">
  <div class="md-search__overlay"></div>                                  
  <div class="md-search__inner">
    <form class="md-search__form">
      <input type="text" class="md-search__input" placeholder="Search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" id="query">             
      <label class="md-icon md-icon--search md-search__icon" for="query"></label>
      <div class="md-search__suggest">
        <div class="md-search-term">
          change color
        </div>
        <div class="md-search-term">
          fork theme
        </div>
        <div class="md-search-term">  
          contributing
        </div>
      </div>
    </form>
  </div>
</div>