<!-- Set from config but allow override -->
{% set disqus = config.extra.disqus %} {% if page and page.meta and page.meta.disqus is string %} {% set disqus = page.meta.disqus
  %} {% endif %}
{% set copyright = config.extra.copyright %} {% if page and page.meta and page.meta.copyright is string %} {% set copyright = page.meta.copyright
  %} {% endif %}
{% set authors = 'OI-wiki' %} {% if page and page.meta and page.meta.author is string %} {% set authors = page.meta.author
  %} {% endif %}
<hr><blockquote class="page-copyright">
  <span><i class="md-icon">build</i>本页面最近更新：</span><span class="facts_modified"></span>，<a class="edit_history">更新历史</a><br>
  <span><i class="md-icon">edit</i>发现错误？想一起完善？ <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="page_edit_url">在 GitHub 上编辑此页！</a></span><br>
  <span><i class="md-icon">people</i>本页面贡献者：</span><span class="page_contributors">{{ authors }}</span><br>
  <span><i class="md-icon">copyright</i>本页面的全部内容在 <strong>{{ copyright }}</strong> 协议之条款下提供，附加条款亦可能应用</span>
</blockquote>
<!-- Comments Integration -->
{% if not page.is_homepage and disqus %}
{% set pageID = page.title | default("404", true) %}
<div class="giscus" data-no-instant></div>
{% if config.theme.language == 'zh' %}
  <script src="https://giscus.app/client.js"
          data-repo="OI-wiki/gitment"
          data-repo-id="MDEwOlJlcG9zaXRvcnkxNDQzODg5NjU="
          data-category="评论"
          data-category-id="DIC_kwDOCJszZc4CS54y"
          data-mapping="specific"
          data-term="{{ pageID }}"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="light"
          data-lang="zh-CN"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
{% else %}
  <script src="https://giscus.app/client.js"
          data-repo="OI-wiki/gitment"
          data-repo-id="MDEwOlJlcG9zaXRvcnkxNDQzODg5NjU="
          data-category="Comments"
          data-category-id="DIC_kwDOCJszZc4CS53G"
          data-mapping="specific"
          data-term="{{ pageID }}"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="light"
          data-lang="en-US"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
{% endif %}
{% endif %}
