<link href="https://cdn.jsdelivr.net/gh/marcelodolza/iziToast/dist/css/iziToast.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/marcelodolza/iziToast/dist/js/iziToast.min.js"></script>
<script>
window.onload = function () {
  var toastdisplay = sessionStorage.getItem("toastdisplay");
  if (toastdisplay!="true")
  {
    sessionStorage.setItem("toastdisplay", "true");
    iziToast.info({
      title: '{{ config.extra.notice.title }}',
      message: '<a href="{{ config.extra.notice.url }}">{{ config.extra.notice.message }}</a>',
      position: '{{ config.extra.notice.position }}',
      progressBar: {{ config.extra.notice.progressBar | lower }},
      timeout: {{ config.extra.notice.timeout | lower }}
    });
  }
}
</script>
