{
  "env": {
    "jasmine": true
  },
  "globals": {
    "ginseng": true,
    "spyOnProperty": true,
    "viewport": true
  },
  "plugins": [
    "jasmine"
  ],
  "rules": {
    "func-style": 0,
    "jasmine/no-assign-spyon": 1,
    "jasmine/no-disabled-tests": 1,
    "jasmine/no-focused-tests": 2,
    "jasmine/no-global-setup": 2,
    "jasmine/no-spec-dupes": [1, "branch"],
    "jasmine/no-suite-callback-args": 2,
    "jasmine/no-suite-dupes": [1, "block"],
    "jasmine/no-unsafe-spy": 0,
    "jasmine/valid-expect": 1,
    "no-invalid-this": 0,
    "no-undefined": 0,
    "no-use-before-define": 0,
    "require-jsdoc": 0
  }
}
