<!-- Render navigation link status -->
{% macro render_status(nav_item, type) %}
  {% set class = "md-status md-status--" ~ type %}

  <!-- Render icon with title (or tooltip), if given -->
  {% if config.extra.status and config.extra.status[type] %}
    <span
      class="{{ class }}"
      title="{{ config.extra.status[type] }}"
    >
    </span>

  <!-- Render icon only -->
  {% else %}
    <span class="{{ class }}"></span>
  {% endif %}
{% endmacro %}

<!-- Render navigation link content -->
{% macro render_content(nav_item, ref = nav_item, index = '') %}

  <!-- Navigation link icon -->
  {% if nav_item.is_page and nav_item.meta.icon %}
    {% include ".icons/" ~ nav_item.meta.icon ~ ".svg" %}
  {% endif %}

  <!-- Navigation link title -->
  <span class="md-ellipsis">
    {% if index %}
      {{ index }}. {{ ref.title }}
    {% else %}
      {{ ref.title }}
    {% endif %}
  </span>

  <!-- Navigation link status -->
  {% if nav_item.is_page and nav_item.meta.status %}
    {{ render_status(nav_item, nav_item.meta.status) }}
  {% endif %}
{% endmacro %}

<!-- Render navigation item (pruned) -->
{% macro render_pruned(nav_item, ref = nav_item) %}
  {% set first = nav_item.children | first %}

  <!-- Recurse, if the first item has further nested items -->
  {% if first and first.children %}
    {{ render_pruned(first, ref) }}

  <!-- Navigation link -->
  {% else %}
    <a href="{{ first.url | url }}" class="md-nav__link">
      {{ render_content(ref) }}

      <!-- Only render toggle if there's at least one nested item -->
      {% if nav_item.children | length > 0 %}
        <span class="md-nav__icon md-icon"></span>
      {% endif %}
    </a>
  {% endif %}
{% endmacro %}

<!-- Render navigation item -->
{% macro render(nav_item, path, level, index = '') %}
  {% set class = "md-nav__item" %}
  {% if nav_item.active %}
    {% set class = class ~ " md-nav__item--active" %}
  {% endif %}

  <!-- Add class for level 1 items -->
  {% if level == 1 %}
    {% set class = class ~ " md-nav__item--level-1" %}
  {% endif %}

  <!-- Determine the index based on the level -->
  {% if level == 1 %}
    {% set level_index = '1' %}
  {% else %}
    {% set level_index = '2' %}
  {% endif %}

  <!-- Navigation item -->
  <li class="{{ class }}">
    <a href="{{ nav_item.url | url }}" class="md-nav__link">
      {{ render_content(nav_item, nav_item, level_index) }}  {# Pass the level index to render_content #}
    </a>
  </li>

  {% if nav_item.children %}
    <ul>
      {% for child in nav_item.children %}
        {{ render(child, path ~ "_" ~ loop.index, level + 1) }}  {# Increment level for children #}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
