<div id="protect-overlay" class="overlay" style="position:fixed;
top:0;
right:0;
bottom:0;
left:0;
z-index:9999;
background-color:black;
color:white;
padding:10% 0;
text-align:center;
display:'none';">
    <form action="#" onsubmit="handleProtection(event)" class="mdc-theme--dark">
        <div class="mdc-textfield mdc-textfield--box" data-demo-no-auto-js="">
          <input type="password" class="mdc-textfield__input"
          id="password-protection-textfield-box"
          placeholder="Enter Password">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<script type="text/javascript">

function handleProtection(e){
  e.preventDefault(); // Otherwise the form will be submitted
  //alert("FORM WAS SUBMITTED");
  var o = document.getElementById('password-protection-textfield-box');
  //alert(o.value);
  var cpwd = '{{ config.extra.password }}'
  if (o.value === atob(cpwd)) {
    localStorage.setItem("pwd_atob", cpwd);
    document.getElementById('protect-overlay').style.display = "none";
  } else {
    alert('Wrong password!');
  }
  return false;
}
(function() {
  var stored_cwpd = localStorage.getItem("pwd_atob");
  //console.log("stored_cwpd is :" + stored_cwpd);
  var cpwd = '{{ config.extra.password }}';
  if (stored_cwpd === cpwd) {
    document.getElementById('protect-overlay').style.display = "none";
    return;
  } else {
    //is there a hash?
    //console.log("Hash is foo :" + window.location.hash);
    if( window.location.hash ){
      var hashpass = window.location.hash.slice(1);
      if(hashpass == cpwd || atob(cpwd) == hashpass){
        console.log("match on  :" + cpwd);
        localStorage.setItem("pwd_atob", cpwd);
        document.getElementById('protect-overlay').style.display = "none";
        return;
      }
    }
    document.getElementById('protect-overlay').style.display = "";
  }
})();
</script>
