{% macro t(key) %}{{ {
  "language": "zh-Hant",
  "clipboard.copy": "複製",
  "clipboard.copied": "已複製",
  "edit.link.title": "編輯此頁",
  "footer.previous": "上一頁",
  "footer.next": "下一頁",
  "meta.comments": "留言",
  "meta.source": "來源",
  "search.language": "jp",
  "search.placeholder": "搜尋",
  "search.result.placeholder": "輸入文字後開始檢索",
  "search.result.none": "沒有找到符合條件的結果",
  "search.result.one": "找到 1 個符合條件的結果",
  "search.result.other": "# 個符合條件的結果",
  "search.tokenizer": "[\，\。]+",
  "skip.link.title": "跳轉至",
  "source.link.title": "前往 Github Repo",
  "toc.title": "目錄"
}[key] }}{% endmacro %}
